@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #000000;
	--muted: #475569;
	--muted-foreground: #64748b;
}

.dark {
	--background: #0a0a0a;
	--foreground: #e5e7eb;
	--muted: #a1a1aa;
	--muted-foreground: #71717a;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}
